#imContent {background-color: #BFFF80;}
#imGroup_1 { float: left; }
#imGroup_1 > div { float: left; }
#imGroup_3 > div { float: left; }
#imGroup_4 > div { float: left; }
#imGroup_5 > div { float: left; }
#imCell_2 { display: block; position: relative; overflow: hidden; }
#imCellStyle_2 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_2 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
#imTextObject_2 { font-style: normal; font-weight: normal; line-height: 20px;; }
#imTextObject_2_tab0 ul { list-style: disc; margin: 0 8px; padding: 0px; overflow: hidden; }
#imTextObject_2_tab0 ul ul { list-style: square; padding: 0 0 0 20px; }
#imTextObject_2_tab0 ul ul ul { list-style: circle; }
#imTextObject_2_tab0 ul li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_2_tab0 ol { list-style: decimal; margin: 0px 15px; padding: 0px; }
#imTextObject_2_tab0 ol ol { list-style: lower-alpha; padding: 0 0 0 20px; }
#imTextObject_2_tab0 ol li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_2_tab0 blockquote { margin: 0 0 0 15px; padding: 0; border: none; }
#imTextObject_2_tab0 table { border: none; padding: 0; border-collapse: collapse; }
#imTextObject_2_tab0 table td { border: 1px solid black; word-wrap: break-word; padding: 4px 3px 4px 3px; margin: 0; vertical-align: middle; }
#imTextObject_2_tab0 p { margin: 0; padding: 0; }
#imTextObject_2_tab0 .inline-block { display: inline-block; }
#imTextObject_2_tab0 sup { vertical-align: super; font-size: smaller; }
#imTextObject_2_tab0 sub { vertical-align: sub; font-size: smaller; }
#imTextObject_2_tab0 img { border: none; margin: 0; vertical-align: text-bottom;}
#imTextObject_2_tab0 .fleft { float: left; vertical-align: baseline;}
#imTextObject_2_tab0 .fright { float: right; vertical-align: baseline;}
#imTextObject_2_tab0 img.fleft { margin-right: 15px; }
#imTextObject_2_tab0 img.fright { margin-left: 15px; }
#imTextObject_2_tab0 .imUl { text-decoration: underline; }
#imTextObject_2_tab0 .imVt { vertical-align: top; }
#imTextObject_2_tab0 .imVc { vertical-align: middle; }
#imTextObject_2_tab0 .imVb { vertical-align: bottom; }
#imTextObject_2_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_2_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_2_tab0 .ff2 { font-family: "Times New Roman", serif; }
#imTextObject_2_tab0 .cf0 { color: #000000; }
#imTextObject_2_tab0 .cf1 { color: #000000; }
#imTextObject_2_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_2_tab0 .cf3 { color: #000000; }
#imTextObject_2_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_2_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_2_tab0 .cb1 { background-color: #000000; }
#imTextObject_2_tab0 .cb2 { background-color: transparent; }
#imTextObject_2_tab0 .cb3 { background-color: #000000; }
#imTextObject_2 .text-container {margin: 0 auto; position: relative; overflow: hidden;  background-color: #FFFFFF;  }
#imGroup_9 > div { float: left; }
#imGroup_10 > div { float: left; }
#imCell_3 { display: block; position: relative; overflow: hidden; }
#imCellStyle_3 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_3 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
#imTextObject_3 { font-style: normal; font-weight: normal; line-height: 20px;; }
#imTextObject_3_tab0 ul { list-style: disc; margin: 0 8px; padding: 0px; overflow: hidden; }
#imTextObject_3_tab0 ul ul { list-style: square; padding: 0 0 0 20px; }
#imTextObject_3_tab0 ul ul ul { list-style: circle; }
#imTextObject_3_tab0 ul li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_3_tab0 ol { list-style: decimal; margin: 0px 15px; padding: 0px; }
#imTextObject_3_tab0 ol ol { list-style: lower-alpha; padding: 0 0 0 20px; }
#imTextObject_3_tab0 ol li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_3_tab0 blockquote { margin: 0 0 0 15px; padding: 0; border: none; }
#imTextObject_3_tab0 table { border: none; padding: 0; border-collapse: collapse; }
#imTextObject_3_tab0 table td { border: 1px solid black; word-wrap: break-word; padding: 4px 3px 4px 3px; margin: 0; vertical-align: middle; }
#imTextObject_3_tab0 p { margin: 0; padding: 0; }
#imTextObject_3_tab0 .inline-block { display: inline-block; }
#imTextObject_3_tab0 sup { vertical-align: super; font-size: smaller; }
#imTextObject_3_tab0 sub { vertical-align: sub; font-size: smaller; }
#imTextObject_3_tab0 img { border: none; margin: 0; vertical-align: text-bottom;}
#imTextObject_3_tab0 .fleft { float: left; vertical-align: baseline;}
#imTextObject_3_tab0 .fright { float: right; vertical-align: baseline;}
#imTextObject_3_tab0 img.fleft { margin-right: 15px; }
#imTextObject_3_tab0 img.fright { margin-left: 15px; }
#imTextObject_3_tab0 .imUl { text-decoration: underline; }
#imTextObject_3_tab0 .imVt { vertical-align: top; }
#imTextObject_3_tab0 .imVc { vertical-align: middle; }
#imTextObject_3_tab0 .imVb { vertical-align: bottom; }
#imTextObject_3_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_3_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_3_tab0 .cf0 { color: #000000; }
#imTextObject_3_tab0 .cf1 { color: #000000; }
#imTextObject_3_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_3_tab0 .cf3 { color: #000000; }
#imTextObject_3_tab0 .cf4 { color: #000000; }
#imTextObject_3_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_3_tab0 .cb1 { background-color: #000000; }
#imTextObject_3_tab0 .cb2 { background-color: transparent; }
#imTextObject_3_tab0 .cb3 { background-color: #000000; }
#imTextObject_3_tab0 .cb4 { background-color: #000000; }
#imTextObject_3 .text-container {margin: 0 auto; position: relative; overflow: hidden;  background-color: #FFFFFF;  }
#imGroup_13 > div { float: left; }
#imGroup_16 > div { float: left; }
#imCell_1 { display: block; position: relative; overflow: hidden; }
#imCellStyle_1 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_1 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
#imObjectImage_1 { width: 100%; max-width: 259px; }
#imGroup_19 > div { float: left; }
#imGroup_25 > div { float: left; }
#imGroup_32 > div { float: left; }
#imGroup_33 > div { float: left; }
#imCell_4 { display: block; position: relative; overflow: hidden; }
#imCellStyle_4 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_4 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
#imObjectImage_4 { width: 100%; max-width: 258px; }
#imGroup_39 > div { float: left; }
#imGroup_40 > div { float: left; }
#imCell_5 { display: block; position: relative; overflow: hidden; }
#imCellStyle_5 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_5 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
#imTextObject_5 { font-style: normal; font-weight: normal; line-height: 20px;; }
#imTextObject_5_tab0 ul { list-style: disc; margin: 0 8px; padding: 0px; overflow: hidden; }
#imTextObject_5_tab0 ul ul { list-style: square; padding: 0 0 0 20px; }
#imTextObject_5_tab0 ul ul ul { list-style: circle; }
#imTextObject_5_tab0 ul li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_5_tab0 ol { list-style: decimal; margin: 0px 15px; padding: 0px; }
#imTextObject_5_tab0 ol ol { list-style: lower-alpha; padding: 0 0 0 20px; }
#imTextObject_5_tab0 ol li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_5_tab0 blockquote { margin: 0 0 0 15px; padding: 0; border: none; }
#imTextObject_5_tab0 table { border: none; padding: 0; border-collapse: collapse; }
#imTextObject_5_tab0 table td { border: 1px solid black; word-wrap: break-word; padding: 4px 3px 4px 3px; margin: 0; vertical-align: middle; }
#imTextObject_5_tab0 p { margin: 0; padding: 0; }
#imTextObject_5_tab0 .inline-block { display: inline-block; }
#imTextObject_5_tab0 sup { vertical-align: super; font-size: smaller; }
#imTextObject_5_tab0 sub { vertical-align: sub; font-size: smaller; }
#imTextObject_5_tab0 img { border: none; margin: 0; vertical-align: text-bottom;}
#imTextObject_5_tab0 .fleft { float: left; vertical-align: baseline;}
#imTextObject_5_tab0 .fright { float: right; vertical-align: baseline;}
#imTextObject_5_tab0 img.fleft { margin-right: 15px; }
#imTextObject_5_tab0 img.fright { margin-left: 15px; }
#imTextObject_5_tab0 .imUl { text-decoration: underline; }
#imTextObject_5_tab0 .imVt { vertical-align: top; }
#imTextObject_5_tab0 .imVc { vertical-align: middle; }
#imTextObject_5_tab0 .imVb { vertical-align: bottom; }
#imTextObject_5_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_5_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_5_tab0 .ff2 { font-family: "Times New Roman", serif; }
#imTextObject_5_tab0 .cf0 { color: #000000; }
#imTextObject_5_tab0 .cf1 { color: #000000; }
#imTextObject_5_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_5_tab0 .cf3 { color: #000000; }
#imTextObject_5_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_5_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_5_tab0 .cb1 { background-color: #000000; }
#imTextObject_5_tab0 .cb2 { background-color: transparent; }
#imTextObject_5_tab0 .cb3 { background-color: #000000; }
#imTextObject_5 .text-container {margin: 0 auto; position: relative; overflow: hidden;  background-color: #FFFFFF;  }
#imGroup_44 > div { float: left; }
#imCell_6 { display: block; position: relative; overflow: hidden; }
#imCellStyle_6 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_6 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
#imTextObject_6 { font-style: normal; font-weight: normal; line-height: 20px;; }
#imTextObject_6_tab0 ul { list-style: disc; margin: 0 8px; padding: 0px; overflow: hidden; }
#imTextObject_6_tab0 ul ul { list-style: square; padding: 0 0 0 20px; }
#imTextObject_6_tab0 ul ul ul { list-style: circle; }
#imTextObject_6_tab0 ul li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_6_tab0 ol { list-style: decimal; margin: 0px 15px; padding: 0px; }
#imTextObject_6_tab0 ol ol { list-style: lower-alpha; padding: 0 0 0 20px; }
#imTextObject_6_tab0 ol li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_6_tab0 blockquote { margin: 0 0 0 15px; padding: 0; border: none; }
#imTextObject_6_tab0 table { border: none; padding: 0; border-collapse: collapse; }
#imTextObject_6_tab0 table td { border: 1px solid black; word-wrap: break-word; padding: 4px 3px 4px 3px; margin: 0; vertical-align: middle; }
#imTextObject_6_tab0 p { margin: 0; padding: 0; }
#imTextObject_6_tab0 .inline-block { display: inline-block; }
#imTextObject_6_tab0 sup { vertical-align: super; font-size: smaller; }
#imTextObject_6_tab0 sub { vertical-align: sub; font-size: smaller; }
#imTextObject_6_tab0 img { border: none; margin: 0; vertical-align: text-bottom;}
#imTextObject_6_tab0 .fleft { float: left; vertical-align: baseline;}
#imTextObject_6_tab0 .fright { float: right; vertical-align: baseline;}
#imTextObject_6_tab0 img.fleft { margin-right: 15px; }
#imTextObject_6_tab0 img.fright { margin-left: 15px; }
#imTextObject_6_tab0 .imUl { text-decoration: underline; }
#imTextObject_6_tab0 .imVt { vertical-align: top; }
#imTextObject_6_tab0 .imVc { vertical-align: middle; }
#imTextObject_6_tab0 .imVb { vertical-align: bottom; }
#imTextObject_6_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_6_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_6_tab0 .cf0 { color: #000000; }
#imTextObject_6_tab0 .cf1 { color: #000000; }
#imTextObject_6_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_6_tab0 .cf3 { color: #000000; }
#imTextObject_6_tab0 .cf4 { color: #000000; }
#imTextObject_6_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_6_tab0 .cb1 { background-color: #000000; }
#imTextObject_6_tab0 .cb2 { background-color: transparent; }
#imTextObject_6_tab0 .cb3 { background-color: #000000; }
#imTextObject_6_tab0 .cb4 { background-color: #000000; }
#imTextObject_6 .text-container {margin: 0 auto; position: relative; overflow: hidden;  background-color: #FFFFFF;  }
#imGroup_45 > div { float: left; }
#imGroup_48 > div { float: left; }
#imGroup_51 > div { float: left; }
#imGroup_54 > div { float: left; }
#imGroup_60 > div { float: left; }
#imGroup_61 > div { float: left; }
#imGroup_62 > div { float: left; }
#imCell_8 { display: block; position: relative; overflow: hidden; }
#imCellStyle_8 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_8 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
#imTextObject_8 { font-style: normal; font-weight: normal; line-height: 20px;; }
#imTextObject_8_tab0 ul { list-style: disc; margin: 0 8px; padding: 0px; overflow: hidden; }
#imTextObject_8_tab0 ul ul { list-style: square; padding: 0 0 0 20px; }
#imTextObject_8_tab0 ul ul ul { list-style: circle; }
#imTextObject_8_tab0 ul li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_8_tab0 ol { list-style: decimal; margin: 0px 15px; padding: 0px; }
#imTextObject_8_tab0 ol ol { list-style: lower-alpha; padding: 0 0 0 20px; }
#imTextObject_8_tab0 ol li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_8_tab0 blockquote { margin: 0 0 0 15px; padding: 0; border: none; }
#imTextObject_8_tab0 table { border: none; padding: 0; border-collapse: collapse; }
#imTextObject_8_tab0 table td { border: 1px solid black; word-wrap: break-word; padding: 4px 3px 4px 3px; margin: 0; vertical-align: middle; }
#imTextObject_8_tab0 p { margin: 0; padding: 0; }
#imTextObject_8_tab0 .inline-block { display: inline-block; }
#imTextObject_8_tab0 sup { vertical-align: super; font-size: smaller; }
#imTextObject_8_tab0 sub { vertical-align: sub; font-size: smaller; }
#imTextObject_8_tab0 img { border: none; margin: 0; vertical-align: text-bottom;}
#imTextObject_8_tab0 .fleft { float: left; vertical-align: baseline;}
#imTextObject_8_tab0 .fright { float: right; vertical-align: baseline;}
#imTextObject_8_tab0 img.fleft { margin-right: 15px; }
#imTextObject_8_tab0 img.fright { margin-left: 15px; }
#imTextObject_8_tab0 .imUl { text-decoration: underline; }
#imTextObject_8_tab0 .imVt { vertical-align: top; }
#imTextObject_8_tab0 .imVc { vertical-align: middle; }
#imTextObject_8_tab0 .imVb { vertical-align: bottom; }
#imTextObject_8_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_8_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_8_tab0 .ff2 { font-family: "Times New Roman", serif; }
#imTextObject_8_tab0 .cf0 { color: #000000; }
#imTextObject_8_tab0 .cf1 { color: #000000; }
#imTextObject_8_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_8_tab0 .cf3 { color: #000000; }
#imTextObject_8_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_8_tab0 .fs28 { vertical-align: baseline; font-size: 14pt; line-height: 25px;}
#imTextObject_8_tab0 .cb1 { background-color: #000000; }
#imTextObject_8_tab0 .cb2 { background-color: transparent; }
#imTextObject_8_tab0 .cb3 { background-color: #000000; }
#imTextObject_8 .text-container {margin: 0 auto; position: relative; overflow: hidden;  background-color: #FFFFFF;  }
#imGroup_64 > div { float: left; }
#imGroup_65 > div { float: left; }
#imCell_9 { display: block; position: relative; overflow: hidden; }
#imCellStyle_9 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_9 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
#imTextObject_9 { font-style: normal; font-weight: normal; line-height: 20px;; }
#imTextObject_9_tab0 ul { list-style: disc; margin: 0 8px; padding: 0px; overflow: hidden; }
#imTextObject_9_tab0 ul ul { list-style: square; padding: 0 0 0 20px; }
#imTextObject_9_tab0 ul ul ul { list-style: circle; }
#imTextObject_9_tab0 ul li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_9_tab0 ol { list-style: decimal; margin: 0px 15px; padding: 0px; }
#imTextObject_9_tab0 ol ol { list-style: lower-alpha; padding: 0 0 0 20px; }
#imTextObject_9_tab0 ol li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_9_tab0 blockquote { margin: 0 0 0 15px; padding: 0; border: none; }
#imTextObject_9_tab0 table { border: none; padding: 0; border-collapse: collapse; }
#imTextObject_9_tab0 table td { border: 1px solid black; word-wrap: break-word; padding: 4px 3px 4px 3px; margin: 0; vertical-align: middle; }
#imTextObject_9_tab0 p { margin: 0; padding: 0; }
#imTextObject_9_tab0 .inline-block { display: inline-block; }
#imTextObject_9_tab0 sup { vertical-align: super; font-size: smaller; }
#imTextObject_9_tab0 sub { vertical-align: sub; font-size: smaller; }
#imTextObject_9_tab0 img { border: none; margin: 0; vertical-align: text-bottom;}
#imTextObject_9_tab0 .fleft { float: left; vertical-align: baseline;}
#imTextObject_9_tab0 .fright { float: right; vertical-align: baseline;}
#imTextObject_9_tab0 img.fleft { margin-right: 15px; }
#imTextObject_9_tab0 img.fright { margin-left: 15px; }
#imTextObject_9_tab0 .imUl { text-decoration: underline; }
#imTextObject_9_tab0 .imVt { vertical-align: top; }
#imTextObject_9_tab0 .imVc { vertical-align: middle; }
#imTextObject_9_tab0 .imVb { vertical-align: bottom; }
#imTextObject_9_tab0 .ff0 { font-family: "Tahoma", sans-serif; }
#imTextObject_9_tab0 .ff1 { font-family: "Tahoma", sans-serif; }
#imTextObject_9_tab0 .cf0 { color: #000000; }
#imTextObject_9_tab0 .cf1 { color: #000000; }
#imTextObject_9_tab0 .cf2 { color: #FFFFFF; }
#imTextObject_9_tab0 .cf3 { color: #000000; }
#imTextObject_9_tab0 .cf4 { color: #000000; }
#imTextObject_9_tab0 .fs20 { vertical-align: baseline; font-size: 10pt; line-height: 20px; }
#imTextObject_9_tab0 .cb1 { background-color: #000000; }
#imTextObject_9_tab0 .cb2 { background-color: transparent; }
#imTextObject_9_tab0 .cb3 { background-color: #000000; }
#imTextObject_9_tab0 .cb4 { background-color: #000000; }
#imTextObject_9 .text-container {margin: 0 auto; position: relative; overflow: hidden;  background-color: #FFFFFF;  }
#imGroup_69 > div { float: left; }
#imCell_7 { display: block; position: relative; overflow: hidden; }
#imCellStyle_7 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_7 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
#imObjectImage_7 { width: 100%; max-width: 259px; }
#imGroup_72 > div { float: left; }
@media (min-width: 992px) {
	#imGroup_1 { width: 812px; }
	#imGroup_2 { width: 812px; height: 15px; }
	#imGroup_3 { width: 812px; }
	#imGroup_4 { width: 450px; }
	#imGroup_5 { width: 450px; }
	#imGroup_6 { width: 90px; height: 37px; }
	#imGroup_7 { width: 90px; height: 37px; }
	#imCell_2 { width: 174px; min-height: 31px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_2 { width: 174px; min-height: 31px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_2 { left: 3px; right: 3px; }
	#imTextObject_2 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imTextObject_2 .text-container { height: 25px;}
	#imGroup_8 { width: 90px; height: 37px; }
	#imGroup_9 { width: 450px; }
	#imGroup_10 { width: 90px; }
	#imGroup_11 { width: 90px; height: 15px; }
	#imGroup_12 { width: 90px; height: 277px; }
	#imCell_3 { width: 354px; min-height: 286px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_3 { width: 354px; min-height: 286px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_3 { left: 3px; right: 3px; }
	#imTextObject_3 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imTextObject_3 .text-container { height: 280px;}
	#imGroup_13 { width: 450px; }
	#imGroup_14 { width: 90px; height: 15px; }
	#imGroup_15 { width: 360px; height: 15px; }
	#imGroup_16 { width: 450px; }
	#imGroup_17 { width: 90px; height: 0px; }
	#imGroup_18 { width: 360px; height: 0px; }
	#imCell_1 { width: 265px; min-height: 338px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_1 { width: 265px; min-height: 338px; padding: 3px 3px 141px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_1 { left: 3px; right: 3px; }
	#imGroup_19 { width: 91px; }
	#imGroup_20 { width: 91px; height: 37px; }
	#imGroup_21 { width: 91px; height: 15px; }
	#imGroup_22 { width: 91px; height: 277px; }
	#imGroup_23 { width: 91px; height: 15px; }
	#imGroup_24 { width: 91px; height: 0px; }
	#imGroup_25 { width: 812px; }
	#imGroup_26 { width: 90px; height: 0px; }
	#imGroup_27 { width: 270px; height: 0px; }
	#imGroup_28 { width: 90px; height: 0px; }
	#imGroup_29 { width: 180px; height: 0px; }
	#imGroup_30 { width: 91px; height: 0px; }
	#imGroup_31 { width: 91px; height: 0px; }
	#imGroup_32 { width: 812px; }
	#imGroup_33 { width: 90px; }
	#imGroup_34 { width: 90px; height: 37px; }
	#imGroup_35 { width: 90px; height: 15px; }
	#imGroup_36 { width: 90px; height: 137px; }
	#imGroup_37 { width: 90px; height: 15px; }
	#imGroup_38 { width: 90px; height: 1px; }
	#imCell_4 { width: 264px; min-height: 199px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_4 { width: 264px; min-height: 199px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_4 { left: 3px; right: 3px; }
	#imGroup_39 { width: 452px; }
	#imGroup_40 { width: 452px; }
	#imGroup_41 { width: 90px; height: 37px; }
	#imCell_5 { width: 174px; min-height: 31px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_5 { width: 174px; min-height: 31px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_5 { left: 3px; right: 3px; }
	#imTextObject_5 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imTextObject_5 .text-container { height: 25px;}
	#imGroup_42 { width: 91px; height: 37px; }
	#imGroup_43 { width: 91px; height: 37px; }
	#imGroup_44 { width: 452px; }
	#imCell_6 { width: 355px; min-height: 146px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_6 { width: 355px; min-height: 146px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_6 { left: 3px; right: 3px; }
	#imTextObject_6 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imTextObject_6 .text-container { height: 140px;}
	#imGroup_45 { width: 91px; }
	#imGroup_46 { width: 91px; height: 15px; }
	#imGroup_47 { width: 91px; height: 137px; }
	#imGroup_48 { width: 452px; }
	#imGroup_49 { width: 361px; height: 15px; }
	#imGroup_50 { width: 91px; height: 15px; }
	#imGroup_51 { width: 452px; }
	#imGroup_52 { width: 361px; height: 1px; }
	#imGroup_53 { width: 91px; height: 1px; }
	#imGroup_54 { width: 812px; }
	#imGroup_55 { width: 90px; height: 15px; }
	#imGroup_56 { width: 270px; height: 15px; }
	#imGroup_57 { width: 90px; height: 15px; }
	#imGroup_58 { width: 271px; height: 15px; }
	#imGroup_59 { width: 91px; height: 15px; }
	#imGroup_60 { width: 812px; }
	#imGroup_61 { width: 450px; }
	#imGroup_62 { width: 450px; }
	#imGroup_63 { width: 90px; height: 37px; }
	#imCell_8 { width: 354px; min-height: 31px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_8 { width: 354px; min-height: 31px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_8 { left: 3px; right: 3px; }
	#imTextObject_8 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imTextObject_8 .text-container { height: 25px;}
	#imGroup_64 { width: 450px; }
	#imGroup_65 { width: 90px; }
	#imGroup_66 { width: 90px; height: 15px; }
	#imGroup_67 { width: 90px; height: 0px; }
	#imGroup_68 { width: 90px; height: 177px; }
	#imCell_9 { width: 354px; min-height: 186px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_9 { width: 354px; min-height: 186px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_9 { left: 3px; right: 3px; }
	#imTextObject_9 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imTextObject_9 .text-container { height: 180px;}
	#imGroup_69 { width: 450px; }
	#imGroup_70 { width: 90px; height: 15px; }
	#imGroup_71 { width: 360px; height: 15px; }
	#imCell_7 { width: 265px; min-height: 238px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_7 { width: 265px; min-height: 238px; padding: 3px 3px 63px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_7 { left: 3px; right: 3px; }
	#imGroup_72 { width: 91px; }
	#imGroup_73 { width: 91px; height: 37px; }
	#imGroup_74 { width: 91px; height: 15px; }
	#imGroup_75 { width: 91px; height: 0px; }
	#imGroup_76 { width: 91px; height: 177px; }
	#imGroup_77 { width: 91px; height: 15px; }
	
}
@media  (max-width: 991px) and (min-width: 720px) {
	#imGroup_1 { width: 686px; }
	#imGroup_2 { width: 686px; height: 15px; }
	#imGroup_3 { width: 686px; }
	#imGroup_4 { width: 380px; }
	#imGroup_5 { width: 380px; }
	#imGroup_6 { width: 76px; height: 37px; }
	#imGroup_7 { width: 76px; height: 37px; }
	#imCell_2 { width: 146px; min-height: 31px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_2 { width: 146px; min-height: 31px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_2 { left: 3px; right: 3px; }
	#imTextObject_2 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imTextObject_2 .text-container { height: 25px;}
	#imGroup_8 { width: 76px; height: 37px; }
	#imGroup_9 { width: 380px; }
	#imGroup_10 { width: 76px; }
	#imGroup_11 { width: 76px; height: 15px; }
	#imGroup_12 { width: 76px; height: 317px; }
	#imCell_3 { width: 298px; min-height: 326px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_3 { width: 298px; min-height: 326px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_3 { left: 3px; right: 3px; }
	#imTextObject_3 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imTextObject_3 .text-container { height: 320px;}
	#imGroup_13 { width: 380px; }
	#imGroup_14 { width: 76px; height: 15px; }
	#imGroup_15 { width: 304px; height: 15px; }
	#imGroup_16 { width: 380px; }
	#imGroup_17 { width: 76px; height: 0px; }
	#imGroup_18 { width: 304px; height: 0px; }
	#imCell_1 { width: 223px; min-height: 378px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_1 { width: 223px; min-height: 378px; padding: 3px 3px 212px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_1 { left: 3px; right: 3px; }
	#imGroup_19 { width: 77px; }
	#imGroup_20 { width: 77px; height: 37px; }
	#imGroup_21 { width: 77px; height: 15px; }
	#imGroup_22 { width: 77px; height: 317px; }
	#imGroup_23 { width: 77px; height: 15px; }
	#imGroup_24 { width: 77px; height: 0px; }
	#imGroup_25 { width: 686px; }
	#imGroup_26 { width: 76px; height: 0px; }
	#imGroup_27 { width: 228px; height: 0px; }
	#imGroup_28 { width: 76px; height: 0px; }
	#imGroup_29 { width: 152px; height: 0px; }
	#imGroup_30 { width: 77px; height: 0px; }
	#imGroup_31 { width: 77px; height: 0px; }
	#imGroup_32 { width: 686px; }
	#imGroup_33 { width: 76px; }
	#imGroup_34 { width: 76px; height: 37px; }
	#imGroup_35 { width: 76px; height: 15px; }
	#imGroup_36 { width: 76px; height: 197px; }
	#imGroup_37 { width: 76px; height: 15px; }
	#imGroup_38 { width: 76px; height: 0px; }
	#imCell_4 { width: 222px; min-height: 258px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_4 { width: 222px; min-height: 258px; padding: 3px 3px 93px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_4 { left: 3px; right: 3px; }
	#imGroup_39 { width: 382px; }
	#imGroup_40 { width: 382px; }
	#imGroup_41 { width: 76px; height: 37px; }
	#imCell_5 { width: 146px; min-height: 31px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_5 { width: 146px; min-height: 31px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_5 { left: 3px; right: 3px; }
	#imTextObject_5 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imTextObject_5 .text-container { height: 25px;}
	#imGroup_42 { width: 77px; height: 37px; }
	#imGroup_43 { width: 77px; height: 37px; }
	#imGroup_44 { width: 382px; }
	#imCell_6 { width: 299px; min-height: 206px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_6 { width: 299px; min-height: 206px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_6 { left: 3px; right: 3px; }
	#imTextObject_6 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imTextObject_6 .text-container { height: 200px;}
	#imGroup_45 { width: 77px; }
	#imGroup_46 { width: 77px; height: 15px; }
	#imGroup_47 { width: 77px; height: 197px; }
	#imGroup_48 { width: 382px; }
	#imGroup_49 { width: 305px; height: 15px; }
	#imGroup_50 { width: 77px; height: 15px; }
	#imGroup_51 { width: 382px; }
	#imGroup_52 { width: 305px; height: 0px; }
	#imGroup_53 { width: 77px; height: 0px; }
	#imGroup_54 { width: 686px; }
	#imGroup_55 { width: 76px; height: 0px; }
	#imGroup_56 { width: 228px; height: 0px; }
	#imGroup_57 { width: 76px; height: 0px; }
	#imGroup_58 { width: 229px; height: 0px; }
	#imGroup_59 { width: 77px; height: 0px; }
	#imGroup_60 { width: 686px; }
	#imGroup_61 { width: 380px; }
	#imGroup_62 { width: 380px; }
	#imGroup_63 { width: 76px; height: 37px; }
	#imCell_8 { width: 298px; min-height: 31px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_8 { width: 298px; min-height: 31px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_8 { left: 3px; right: 3px; }
	#imTextObject_8 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imTextObject_8 .text-container { height: 25px;}
	#imGroup_64 { width: 380px; }
	#imGroup_65 { width: 76px; }
	#imGroup_66 { width: 76px; height: 15px; }
	#imGroup_67 { width: 76px; height: 0px; }
	#imGroup_68 { width: 76px; height: 237px; }
	#imCell_9 { width: 298px; min-height: 246px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_9 { width: 298px; min-height: 246px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_9 { left: 3px; right: 3px; }
	#imTextObject_9 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imTextObject_9 .text-container { height: 240px;}
	#imGroup_69 { width: 380px; }
	#imGroup_70 { width: 76px; height: 15px; }
	#imGroup_71 { width: 304px; height: 15px; }
	#imCell_7 { width: 223px; min-height: 298px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_7 { width: 223px; min-height: 298px; padding: 3px 3px 151px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_7 { left: 3px; right: 3px; }
	#imGroup_72 { width: 77px; }
	#imGroup_73 { width: 77px; height: 37px; }
	#imGroup_74 { width: 77px; height: 15px; }
	#imGroup_75 { width: 77px; height: 0px; }
	#imGroup_76 { width: 77px; height: 237px; }
	#imGroup_77 { width: 77px; height: 15px; }
	
}
@media  (max-width: 719px) and (min-width: 430px) {
	#imGroup_1 { width: 398px; clear: left; }
	#imGroup_2 { width: 398px; height: 0px; clear: left; }
	#imGroup_3 { width: 398px; clear: left; }
	#imGroup_4 { width: 398px; clear: left; }
	#imGroup_5 { width: 398px; clear: left; }
	#imGroup_6 { width: 398px; height: 0px; clear: left; }
	#imGroup_7 { width: 398px; height: 0px; clear: left; }
	#imCell_2 { clear: left; }
	#imCell_2 { width: 392px; min-height: 31px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_2 { width: 392px; min-height: 31px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_2 { left: 3px; right: 3px; }
	#imTextObject_2 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imTextObject_2 .text-container { height: 25px;}
	#imGroup_8 { width: 398px; height: 0px; clear: left; }
	#imGroup_9 { width: 398px; clear: left; }
	#imGroup_10 { width: 398px; clear: left; }
	#imGroup_11 { width: 398px; height: 0px; clear: left; }
	#imGroup_12 { width: 398px; height: 0px; clear: left; }
	#imCell_3 { clear: left; }
	#imCell_3 { width: 392px; min-height: 266px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_3 { width: 392px; min-height: 266px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_3 { left: 3px; right: 3px; }
	#imTextObject_3 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imTextObject_3 .text-container { height: 260px;}
	#imGroup_13 { width: 398px; clear: left; }
	#imGroup_14 { width: 398px; height: 0px; clear: left; }
	#imGroup_15 { width: 398px; height: 0px; clear: left; }
	#imGroup_16 { width: 398px; clear: left; }
	#imGroup_17 { width: 398px; height: 0px; clear: left; }
	#imGroup_18 { width: 398px; height: 0px; clear: left; }
	#imCell_1 { clear: left; }
	#imCell_1 { width: 392px; min-height: 200px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_1 { width: 392px; min-height: 200px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_1 { left: 3px; right: 3px; }
	#imGroup_19 { width: 398px; clear: left; }
	#imGroup_20 { width: 398px; height: 0px; clear: left; }
	#imGroup_21 { width: 398px; height: 0px; clear: left; }
	#imGroup_22 { width: 398px; height: 0px; clear: left; }
	#imGroup_23 { width: 398px; height: 0px; clear: left; }
	#imGroup_24 { width: 398px; height: 0px; clear: left; }
	#imGroup_25 { width: 398px; clear: left; }
	#imGroup_26 { width: 398px; height: 0px; clear: left; }
	#imGroup_27 { width: 398px; height: 0px; clear: left; }
	#imGroup_28 { width: 398px; height: 0px; clear: left; }
	#imGroup_29 { width: 398px; height: 0px; clear: left; }
	#imGroup_30 { width: 398px; height: 0px; clear: left; }
	#imGroup_31 { width: 398px; height: 0px; clear: left; }
	#imGroup_32 { width: 398px; clear: left; }
	#imGroup_33 { width: 398px; clear: left; }
	#imGroup_34 { width: 398px; height: 0px; clear: left; }
	#imGroup_35 { width: 398px; height: 0px; clear: left; }
	#imGroup_36 { width: 398px; height: 0px; clear: left; }
	#imGroup_37 { width: 398px; height: 0px; clear: left; }
	#imGroup_38 { width: 398px; height: 0px; clear: left; }
	#imCell_4 { clear: left; }
	#imCell_4 { width: 392px; min-height: 199px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_4 { width: 392px; min-height: 199px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_4 { left: 3px; right: 3px; }
	#imGroup_39 { width: 398px; clear: left; }
	#imGroup_40 { width: 398px; clear: left; }
	#imGroup_41 { width: 398px; height: 0px; clear: left; }
	#imCell_5 { clear: left; }
	#imCell_5 { width: 392px; min-height: 31px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_5 { width: 392px; min-height: 31px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_5 { left: 3px; right: 3px; }
	#imTextObject_5 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imTextObject_5 .text-container { height: 25px;}
	#imGroup_42 { width: 398px; height: 0px; clear: left; }
	#imGroup_43 { width: 398px; height: 0px; clear: left; }
	#imGroup_44 { width: 398px; clear: left; }
	#imCell_6 { clear: left; }
	#imCell_6 { width: 392px; min-height: 146px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_6 { width: 392px; min-height: 146px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_6 { left: 3px; right: 3px; }
	#imTextObject_6 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imTextObject_6 .text-container { height: 140px;}
	#imGroup_45 { width: 398px; clear: left; }
	#imGroup_46 { width: 398px; height: 0px; clear: left; }
	#imGroup_47 { width: 398px; height: 0px; clear: left; }
	#imGroup_48 { width: 398px; clear: left; }
	#imGroup_49 { width: 398px; height: 0px; clear: left; }
	#imGroup_50 { width: 398px; height: 0px; clear: left; }
	#imGroup_51 { width: 398px; clear: left; }
	#imGroup_52 { width: 398px; height: 0px; clear: left; }
	#imGroup_53 { width: 398px; height: 0px; clear: left; }
	#imGroup_54 { width: 398px; clear: left; }
	#imGroup_55 { width: 398px; height: 0px; clear: left; }
	#imGroup_56 { width: 398px; height: 0px; clear: left; }
	#imGroup_57 { width: 398px; height: 0px; clear: left; }
	#imGroup_58 { width: 398px; height: 0px; clear: left; }
	#imGroup_59 { width: 398px; height: 0px; clear: left; }
	#imGroup_60 { width: 398px; clear: left; }
	#imGroup_61 { width: 398px; clear: left; }
	#imGroup_62 { width: 398px; clear: left; }
	#imGroup_63 { width: 398px; height: 0px; clear: left; }
	#imCell_8 { clear: left; }
	#imCell_8 { width: 392px; min-height: 31px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_8 { width: 392px; min-height: 31px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_8 { left: 3px; right: 3px; }
	#imTextObject_8 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imTextObject_8 .text-container { height: 25px;}
	#imGroup_64 { width: 398px; clear: left; }
	#imGroup_65 { width: 398px; clear: left; }
	#imGroup_66 { width: 398px; height: 0px; clear: left; }
	#imGroup_67 { width: 398px; height: 0px; clear: left; }
	#imGroup_68 { width: 398px; height: 0px; clear: left; }
	#imCell_9 { clear: left; }
	#imCell_9 { width: 392px; min-height: 186px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_9 { width: 392px; min-height: 186px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_9 { left: 3px; right: 3px; }
	#imTextObject_9 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imTextObject_9 .text-container { height: 180px;}
	#imGroup_69 { width: 398px; clear: left; }
	#imGroup_70 { width: 398px; height: 0px; clear: left; }
	#imGroup_71 { width: 398px; height: 0px; clear: left; }
	#imCell_7 { clear: left; }
	#imCell_7 { width: 392px; min-height: 178px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_7 { width: 392px; min-height: 178px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_7 { left: 3px; right: 3px; }
	#imGroup_72 { width: 398px; clear: left; }
	#imGroup_73 { width: 398px; height: 0px; clear: left; }
	#imGroup_74 { width: 398px; height: 0px; clear: left; }
	#imGroup_75 { width: 398px; height: 0px; clear: left; }
	#imGroup_76 { width: 398px; height: 0px; clear: left; }
	#imGroup_77 { width: 398px; height: 0px; clear: left; }
	
}
@media  (max-width: 429px) {
	#imGroup_1 { width: 100%; clear: left; }
	#imGroup_2 { display: none; clear: left; }
	#imGroup_3 { width: 100%; clear: left; }
	#imGroup_4 { width: 100%; clear: left; }
	#imGroup_5 { width: 100%; clear: left; }
	#imGroup_6 { display: none; clear: left; }
	#imGroup_7 { display: none; clear: left; }
	#imCell_2 { clear: left; }
	#imCell_2 { width: 100%; min-height: 12px;  padding-top: 3px; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_2 { width: 100%; min-height: 0px; padding: 3px 3px 3px 3px; }
	#imCellStyleGraphics_2 { top: 3px; bottom: 3px; left: 5px; right: 5px; }
	#imTextObject_2 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imGroup_8 { display: none; clear: left; }
	#imGroup_9 { width: 100%; clear: left; }
	#imGroup_10 { display: none; clear: left; }
	#imGroup_11 { display: none; clear: left; }
	#imGroup_12 { display: none; clear: left; }
	#imCell_3 { clear: left; }
	#imCell_3 { width: 100%; min-height: 12px;  padding-top: 3px; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_3 { width: 100%; min-height: 0px; padding: 3px 3px 3px 3px; }
	#imCellStyleGraphics_3 { top: 3px; bottom: 3px; left: 5px; right: 5px; }
	#imTextObject_3 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imGroup_13 { display: none; clear: left; }
	#imGroup_14 { display: none; clear: left; }
	#imGroup_15 { display: none; clear: left; }
	#imGroup_16 { display: none; clear: left; }
	#imGroup_17 { display: none; clear: left; }
	#imGroup_18 { display: none; clear: left; }
	#imCell_1 { clear: left; }
	#imCell_1 { width: 100%; min-height: 12px;  padding-top: 3px; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_1 { width: 100%; min-height: 0px; padding: 3px 3px 3px 3px; }
	#imCellStyleGraphics_1 { top: 3px; bottom: 3px; left: 5px; right: 5px; }
	#imGroup_19 { display: none; clear: left; }
	#imGroup_20 { display: none; clear: left; }
	#imGroup_21 { display: none; clear: left; }
	#imGroup_22 { display: none; clear: left; }
	#imGroup_23 { display: none; clear: left; }
	#imGroup_24 { display: none; clear: left; }
	#imGroup_25 { display: none; clear: left; }
	#imGroup_26 { display: none; clear: left; }
	#imGroup_27 { display: none; clear: left; }
	#imGroup_28 { display: none; clear: left; }
	#imGroup_29 { display: none; clear: left; }
	#imGroup_30 { display: none; clear: left; }
	#imGroup_31 { display: none; clear: left; }
	#imGroup_32 { width: 100%; clear: left; }
	#imGroup_33 { display: none; clear: left; }
	#imGroup_34 { display: none; clear: left; }
	#imGroup_35 { display: none; clear: left; }
	#imGroup_36 { display: none; clear: left; }
	#imGroup_37 { display: none; clear: left; }
	#imGroup_38 { display: none; clear: left; }
	#imCell_4 { clear: left; }
	#imCell_4 { width: 100%; min-height: 12px;  padding-top: 3px; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_4 { width: 100%; min-height: 0px; padding: 3px 3px 3px 3px; }
	#imCellStyleGraphics_4 { top: 3px; bottom: 3px; left: 5px; right: 5px; }
	#imGroup_39 { width: 100%; clear: left; }
	#imGroup_40 { width: 100%; clear: left; }
	#imGroup_41 { display: none; clear: left; }
	#imCell_5 { clear: left; }
	#imCell_5 { width: 100%; min-height: 12px;  padding-top: 3px; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_5 { width: 100%; min-height: 0px; padding: 3px 3px 3px 3px; }
	#imCellStyleGraphics_5 { top: 3px; bottom: 3px; left: 5px; right: 5px; }
	#imTextObject_5 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imGroup_42 { display: none; clear: left; }
	#imGroup_43 { display: none; clear: left; }
	#imGroup_44 { width: 100%; clear: left; }
	#imCell_6 { clear: left; }
	#imCell_6 { width: 100%; min-height: 12px;  padding-top: 3px; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_6 { width: 100%; min-height: 0px; padding: 3px 3px 3px 3px; }
	#imCellStyleGraphics_6 { top: 3px; bottom: 3px; left: 5px; right: 5px; }
	#imTextObject_6 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imGroup_45 { display: none; clear: left; }
	#imGroup_46 { display: none; clear: left; }
	#imGroup_47 { display: none; clear: left; }
	#imGroup_48 { display: none; clear: left; }
	#imGroup_49 { display: none; clear: left; }
	#imGroup_50 { display: none; clear: left; }
	#imGroup_51 { display: none; clear: left; }
	#imGroup_52 { display: none; clear: left; }
	#imGroup_53 { display: none; clear: left; }
	#imGroup_54 { display: none; clear: left; }
	#imGroup_55 { display: none; clear: left; }
	#imGroup_56 { display: none; clear: left; }
	#imGroup_57 { display: none; clear: left; }
	#imGroup_58 { display: none; clear: left; }
	#imGroup_59 { display: none; clear: left; }
	#imGroup_60 { width: 100%; clear: left; }
	#imGroup_61 { width: 100%; clear: left; }
	#imGroup_62 { width: 100%; clear: left; }
	#imGroup_63 { display: none; clear: left; }
	#imCell_8 { clear: left; }
	#imCell_8 { width: 100%; min-height: 12px;  padding-top: 3px; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_8 { width: 100%; min-height: 0px; padding: 3px 3px 3px 3px; }
	#imCellStyleGraphics_8 { top: 3px; bottom: 3px; left: 5px; right: 5px; }
	#imTextObject_8 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imGroup_64 { width: 100%; clear: left; }
	#imGroup_65 { display: none; clear: left; }
	#imGroup_66 { display: none; clear: left; }
	#imGroup_67 { display: none; clear: left; }
	#imGroup_68 { display: none; clear: left; }
	#imCell_9 { clear: left; }
	#imCell_9 { width: 100%; min-height: 12px;  padding-top: 3px; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_9 { width: 100%; min-height: 0px; padding: 3px 3px 3px 3px; }
	#imCellStyleGraphics_9 { top: 3px; bottom: 3px; left: 5px; right: 5px; }
	#imTextObject_9 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imGroup_69 { display: none; clear: left; }
	#imGroup_70 { display: none; clear: left; }
	#imGroup_71 { display: none; clear: left; }
	#imCell_7 { clear: left; }
	#imCell_7 { width: 100%; min-height: 12px;  padding-top: 3px; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_7 { width: 100%; min-height: 0px; padding: 3px 3px 3px 3px; }
	#imCellStyleGraphics_7 { top: 3px; bottom: 3px; left: 5px; right: 5px; }
	#imGroup_72 { display: none; clear: left; }
	#imGroup_73 { display: none; clear: left; }
	#imGroup_74 { display: none; clear: left; }
	#imGroup_75 { display: none; clear: left; }
	#imGroup_76 { display: none; clear: left; }
	#imGroup_77 { display: none; clear: left; }
	
}
