#imContent {background-color: #BFFF80;}
#imGroup_1 { float: left; }
#imGroup_1 > div { float: left; }
#imGroup_2 > div { float: left; }
#imCell_14 { display: block; position: relative; overflow: hidden; }
#imCellStyle_14 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_14 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
#imTextObject_14 { font-style: normal; font-weight: normal; line-height: 20px;; }
#imTextObject_14_tab0 ul { list-style: disc; margin: 0 8px; padding: 0px; overflow: hidden; }
#imTextObject_14_tab0 ul ul { list-style: square; padding: 0 0 0 20px; }
#imTextObject_14_tab0 ul ul ul { list-style: circle; }
#imTextObject_14_tab0 ul li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_14_tab0 ol { list-style: decimal; margin: 0px 15px; padding: 0px; }
#imTextObject_14_tab0 ol ol { list-style: lower-alpha; padding: 0 0 0 20px; }
#imTextObject_14_tab0 ol li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_14_tab0 blockquote { margin: 0 0 0 15px; padding: 0; border: none; }
#imTextObject_14_tab0 table { border: none; padding: 0; border-collapse: collapse; }
#imTextObject_14_tab0 table td { border: 1px solid black; word-wrap: break-word; padding: 4px 3px 4px 3px; margin: 0; vertical-align: middle; }
#imTextObject_14_tab0 p { margin: 0; padding: 0; }
#imTextObject_14_tab0 .inline-block { display: inline-block; }
#imTextObject_14_tab0 sup { vertical-align: super; font-size: smaller; }
#imTextObject_14_tab0 sub { vertical-align: sub; font-size: smaller; }
#imTextObject_14_tab0 img { border: none; margin: 0; vertical-align: text-bottom;}
#imTextObject_14_tab0 .fleft { float: left; vertical-align: baseline;}
#imTextObject_14_tab0 .fright { float: right; vertical-align: baseline;}
#imTextObject_14_tab0 img.fleft { margin-right: 15px; }
#imTextObject_14_tab0 img.fright { margin-left: 15px; }
#imTextObject_14_tab0 .imUl { text-decoration: underline; }
#imTextObject_14_tab0 .imVt { vertical-align: top; }
#imTextObject_14_tab0 .imVc { vertical-align: middle; }
#imTextObject_14_tab0 .imVb { vertical-align: bottom; }
#imTextObject_14_tab0 .fs32 { vertical-align: baseline; font-size: 32px;line-height: 39px; }
#imTextObject_14_tab0 .cf1 { color: rgb(0, 0, 0); }
#imTextObject_14_tab0 .ff1 { font-family: 'Times New Roman'; }
#imTextObject_14_tab0 .fs21 { vertical-align: baseline; font-size: 21px;line-height: 28px; }
#imTextObject_14 .text-container {margin: 0 auto; position: relative; overflow: hidden;  background-color: #FFFFFF;  }
#imGroup_5 > div { float: left; }
#imGroup_6 > div { float: left; }
#imCell_19 { display: block; position: relative; overflow: hidden; }
#imCellStyle_19 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleGraphics_19 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
#imTextObject_19 { font-style: normal; font-weight: normal; line-height: 20px;; }
#imTextObject_19_tab0 ul { list-style: disc; margin: 0 8px; padding: 0px; overflow: hidden; }
#imTextObject_19_tab0 ul ul { list-style: square; padding: 0 0 0 20px; }
#imTextObject_19_tab0 ul ul ul { list-style: circle; }
#imTextObject_19_tab0 ul li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_19_tab0 ol { list-style: decimal; margin: 0px 15px; padding: 0px; }
#imTextObject_19_tab0 ol ol { list-style: lower-alpha; padding: 0 0 0 20px; }
#imTextObject_19_tab0 ol li { margin: 0 0 0 15px; padding: 0px; font-size: 9pt; line-height: 19px;}
#imTextObject_19_tab0 blockquote { margin: 0 0 0 15px; padding: 0; border: none; }
#imTextObject_19_tab0 table { border: none; padding: 0; border-collapse: collapse; }
#imTextObject_19_tab0 table td { border: 1px solid black; word-wrap: break-word; padding: 4px 3px 4px 3px; margin: 0; vertical-align: middle; }
#imTextObject_19_tab0 p { margin: 0; padding: 0; }
#imTextObject_19_tab0 .inline-block { display: inline-block; }
#imTextObject_19_tab0 sup { vertical-align: super; font-size: smaller; }
#imTextObject_19_tab0 sub { vertical-align: sub; font-size: smaller; }
#imTextObject_19_tab0 img { border: none; margin: 0; vertical-align: text-bottom;}
#imTextObject_19_tab0 .fleft { float: left; vertical-align: baseline;}
#imTextObject_19_tab0 .fright { float: right; vertical-align: baseline;}
#imTextObject_19_tab0 img.fleft { margin-right: 15px; }
#imTextObject_19_tab0 img.fright { margin-left: 15px; }
#imTextObject_19_tab0 .imUl { text-decoration: underline; }
#imTextObject_19_tab0 .imVt { vertical-align: top; }
#imTextObject_19_tab0 .imVc { vertical-align: middle; }
#imTextObject_19_tab0 .imVb { vertical-align: bottom; }
#imTextObject_19_tab0 .fs19 { vertical-align: baseline; font-size: 19px;line-height: 25px; }
#imTextObject_19_tab0 .ff1 { font-family: 'Mongolian Baiti'; }
#imTextObject_19 .text-container {margin: 0 auto; position: relative; overflow: hidden;  background-color: #FFFFFF;  }
#imGroup_10 > div { float: left; }
#imGroup_14 > div { float: left; }
#imCell_1 { display: block; position: relative; overflow: hidden; }
#imCellStyle_1 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleTitle_1 { position: absolute; padding: 5px 5px 5px 5px; text-align: center; font-family: Tahoma; font-size: 12pt; font-style: normal; font-weight: bold; color: #000000; background-color: transparent; z-index: 4;}
#imCellStyleGraphics_1 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
#imObjectGallery_1 > div { margin: 0 auto; }
#imContent #imObjectGallery_1 a:link, #imContent #imObjectGallery_1 a:hover, #imContent #imObjectGallery_1 a:visited, #imContent #imObjectGallery_1 a:active { border: none; background-color: transparent; text-decoration: none; }
#imGroup_15 > div { float: left; }
#imCell_2 { display: block; position: relative; overflow: hidden; }
#imCellStyle_2 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleTitle_2 { position: absolute; padding: 5px 5px 5px 5px; text-align: center; font-family: Tahoma; font-size: 12pt; font-style: normal; font-weight: bold; color: #000000; background-color: transparent; z-index: 4;}
#imCellStyleGraphics_2 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
#imObjectGallery_2 > div { margin: 0 auto; }
#imContent #imObjectGallery_2 a:link, #imContent #imObjectGallery_2 a:hover, #imContent #imObjectGallery_2 a:visited, #imContent #imObjectGallery_2 a:active { border: none; background-color: transparent; text-decoration: none; }
#imGroup_19 > div { float: left; }
#imGroup_23 > div { float: left; }
#imCell_16 { display: block; position: relative; overflow: hidden; }
#imCellStyle_16 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleTitle_16 { position: absolute; padding: 5px 5px 5px 5px; text-align: center; font-family: Tahoma; font-size: 12pt; font-style: normal; font-weight: bold; color: #000000; background-color: transparent; z-index: 4;}
#imCellStyleGraphics_16 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
#imObjectGallery_16 > div { margin: 0 auto; }
#imContent #imObjectGallery_16 a:link, #imContent #imObjectGallery_16 a:hover, #imContent #imObjectGallery_16 a:visited, #imContent #imObjectGallery_16 a:active { border: none; background-color: transparent; text-decoration: none; }
#imGroup_24 > div { float: left; }
#imCell_15 { display: block; position: relative; overflow: hidden; }
#imCellStyle_15 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleTitle_15 { position: absolute; padding: 5px 5px 5px 5px; text-align: center; font-family: Tahoma; font-size: 12pt; font-style: normal; font-weight: bold; color: #000000; background-color: transparent; z-index: 4;}
#imCellStyleGraphics_15 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
#imObjectGallery_15 > div { margin: 0 auto; }
#imContent #imObjectGallery_15 a:link, #imContent #imObjectGallery_15 a:hover, #imContent #imObjectGallery_15 a:visited, #imContent #imObjectGallery_15 a:active { border: none; background-color: transparent; text-decoration: none; }
#imGroup_28 > div { float: left; }
#imCell_13 { display: block; position: relative; overflow: hidden; }
#imTableObject_13 { font-style: normal; font-weight: normal; line-height: 20px;; }
#imTableObject_13 .text-container {margin: 0 auto; position: relative; overflow: hidden;  background-color: #FFFFFF;  }
#imTableObject_13 table { margin: 0 auto; }
#imGroup_31 > div { float: left; }
#imCell_17 { display: block; position: relative; overflow: hidden; }
#imCellStyle_17 { position: relative; box-sizing: border-box; text-align: center; z-index: 2;}
#imCellStyleTitle_17 { position: absolute; padding: 5px 5px 5px 5px; text-align: center; font-family: Tahoma; font-size: 12pt; font-style: normal; font-weight: bold; color: #000000; background-color: transparent; z-index: 4;}
#imCellStyleGraphics_17 { position: absolute; top: 3px; bottom: 3px; background-color: transparent; }
#imObjectGallery_17 > div { margin: 0 auto; }
#imContent #imObjectGallery_17 a:link, #imContent #imObjectGallery_17 a:hover, #imContent #imObjectGallery_17 a:visited, #imContent #imObjectGallery_17 a:active { border: none; background-color: transparent; text-decoration: none; }
#imGroup_32 > div { float: left; }
#imCell_18 { display: block; position: relative; overflow: hidden; }
@media (min-width: 992px) {
	#imGroup_1 { width: 817px; }
	#imGroup_2 { width: 817px; }
	#imGroup_3 { width: 162px; height: 79px; }
	#imCell_14 { width: 486px; min-height: 73px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_14 { width: 486px; min-height: 73px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_14 { left: 3px; right: 3px; }
	#imTextObject_14 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imTextObject_14 .text-container { height: 67px;}
	#imGroup_4 { width: 163px; height: 79px; }
	#imGroup_5 { width: 817px; }
	#imGroup_6 { width: 162px; }
	#imGroup_7 { width: 162px; height: 15px; }
	#imGroup_8 { width: 162px; height: 0px; }
	#imGroup_9 { width: 162px; height: 97px; }
	#imCell_19 { width: 486px; min-height: 106px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_19 { width: 486px; min-height: 106px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_19 { left: 3px; right: 3px; }
	#imTextObject_19 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imTextObject_19 .text-container { height: 100px;}
	#imGroup_10 { width: 163px; }
	#imGroup_11 { width: 163px; height: 15px; }
	#imGroup_12 { width: 163px; height: 0px; }
	#imGroup_13 { width: 163px; height: 97px; }
	#imGroup_14 { width: 817px; }
	#imCell_1 { width: 376px; min-height: 305px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_1 { width: 376px; min-height: 305px; padding: 42px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleTitle_1 { top: 8px; left: 8px; right: 8px; }
	#imCellStyleGraphics_1 { left: 3px; right: 3px; }
	#imGroup_15 { width: 65px; }
	#imGroup_16 { width: 65px; height: 15px; }
	#imGroup_17 { width: 65px; height: 0px; }
	#imGroup_18 { width: 65px; height: 296px; }
	#imCell_2 { width: 364px; min-height: 305px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_2 { width: 364px; min-height: 305px; padding: 42px 3px 25px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleTitle_2 { top: 8px; left: 8px; right: 8px; }
	#imCellStyleGraphics_2 { left: 3px; right: 3px; }
	#imGroup_19 { width: 817px; }
	#imGroup_20 { width: 382px; height: 15px; }
	#imGroup_21 { width: 65px; height: 15px; }
	#imGroup_22 { width: 370px; height: 15px; }
	#imGroup_23 { width: 817px; }
	#imCell_16 { width: 376px; min-height: 305px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_16 { width: 376px; min-height: 305px; padding: 42px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleTitle_16 { top: 8px; left: 8px; right: 8px; }
	#imCellStyleGraphics_16 { left: 3px; right: 3px; }
	#imGroup_24 { width: 65px; }
	#imGroup_25 { width: 65px; height: 0px; }
	#imGroup_26 { width: 65px; height: 0px; }
	#imGroup_27 { width: 65px; height: 311px; }
	#imCell_15 { width: 364px; min-height: 305px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_15 { width: 364px; min-height: 305px; padding: 42px 3px 13px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleTitle_15 { top: 8px; left: 8px; right: 8px; }
	#imCellStyleGraphics_15 { left: 3px; right: 3px; }
	#imGroup_28 { width: 817px; }
	#imGroup_29 { width: 382px; height: 15px; }
	#imCell_13 { width: 59px; min-height: 9px; }
	#imTableObject_13 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imGroup_30 { width: 370px; height: 15px; }
	#imGroup_31 { width: 817px; }
	#imCell_17 { width: 376px; min-height: 305px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_17 { width: 376px; min-height: 305px; padding: 42px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleTitle_17 { top: 8px; left: 8px; right: 8px; }
	#imCellStyleGraphics_17 { left: 3px; right: 3px; }
	#imGroup_32 { width: 65px; }
	#imGroup_33 { width: 65px; height: 0px; }
	#imGroup_34 { width: 65px; height: 0px; }
	#imGroup_35 { width: 65px; height: 311px; }
	#imCell_18 { width: 364px; min-height: 305px; }
	#imGroup_36 { width: 817px; height: 15px; }
	#imGroup_37 { width: 817px; height: 0px; }
	#imGroup_38 { width: 817px; height: 0px; }
	#imGroup_39 { width: 817px; height: 0px; }
	#imGroup_40 { width: 817px; height: 0px; }
	#imGroup_41 { width: 817px; height: 0px; }
	
}
@media  (max-width: 991px) and (min-width: 720px) {
	#imGroup_1 { width: 690px; }
	#imGroup_2 { width: 690px; }
	#imGroup_3 { width: 345px; height: 15px; }
	#imCell_14 { display: none; }
	#imCell_14 { width: -2px; min-height: -6px;  padding-top: 3px; padding-bottom: 3px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_14 { width: -2px; min-height: -6px; padding: 3px 3px -9px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_14 { left: 1px; right: 1px; }
	#imTextObject_14 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imGroup_4 { width: 345px; height: 15px; }
	#imGroup_5 { width: 691px; }
	#imGroup_6 { width: 137px; }
	#imGroup_7 { width: 137px; height: 0px; }
	#imGroup_8 { width: 137px; height: 0px; }
	#imGroup_9 { width: 137px; height: 137px; }
	#imCell_19 { width: 410px; min-height: 131px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_19 { width: 410px; min-height: 131px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_19 { left: 3px; right: 3px; }
	#imTextObject_19 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imTextObject_19 .text-container { height: 125px;}
	#imGroup_10 { width: 138px; }
	#imGroup_11 { width: 138px; height: 0px; }
	#imGroup_12 { width: 138px; height: 0px; }
	#imGroup_13 { width: 138px; height: 137px; }
	#imGroup_14 { width: 691px; }
	#imCell_1 { width: 317px; min-height: 260px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_1 { width: 317px; min-height: 260px; padding: 42px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleTitle_1 { top: 8px; left: 8px; right: 8px; }
	#imCellStyleGraphics_1 { left: 3px; right: 3px; }
	#imGroup_15 { width: 55px; }
	#imGroup_16 { width: 55px; height: 15px; }
	#imGroup_17 { width: 55px; height: 0px; }
	#imGroup_18 { width: 55px; height: 251px; }
	#imCell_2 { width: 307px; min-height: 260px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_2 { width: 307px; min-height: 260px; padding: 42px 3px 22px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleTitle_2 { top: 8px; left: 8px; right: 8px; }
	#imCellStyleGraphics_2 { left: 3px; right: 3px; }
	#imGroup_19 { width: 691px; }
	#imGroup_20 { width: 323px; height: 15px; }
	#imGroup_21 { width: 55px; height: 15px; }
	#imGroup_22 { width: 313px; height: 15px; }
	#imGroup_23 { width: 691px; }
	#imCell_16 { width: 317px; min-height: 260px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_16 { width: 317px; min-height: 260px; padding: 42px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleTitle_16 { top: 8px; left: 8px; right: 8px; }
	#imCellStyleGraphics_16 { left: 3px; right: 3px; }
	#imGroup_24 { width: 55px; }
	#imGroup_25 { width: 55px; height: 0px; }
	#imGroup_26 { width: 55px; height: 0px; }
	#imGroup_27 { width: 55px; height: 266px; }
	#imCell_15 { width: 307px; min-height: 260px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_15 { width: 307px; min-height: 260px; padding: 42px 3px 10px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleTitle_15 { top: 8px; left: 8px; right: 8px; }
	#imCellStyleGraphics_15 { left: 3px; right: 3px; }
	#imGroup_28 { width: 691px; }
	#imGroup_29 { width: 323px; height: 15px; }
	#imCell_13 { width: 49px; min-height: 9px; }
	#imTableObject_13 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imGroup_30 { width: 313px; height: 15px; }
	#imGroup_31 { width: 691px; }
	#imCell_17 { width: 317px; min-height: 260px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_17 { width: 317px; min-height: 260px; padding: 42px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleTitle_17 { top: 8px; left: 8px; right: 8px; }
	#imCellStyleGraphics_17 { left: 3px; right: 3px; }
	#imGroup_32 { width: 55px; }
	#imGroup_33 { width: 55px; height: 0px; }
	#imGroup_34 { width: 55px; height: 0px; }
	#imGroup_35 { width: 55px; height: 266px; }
	#imCell_18 { width: 307px; min-height: 260px; }
	#imGroup_36 { width: 691px; height: 15px; }
	#imGroup_37 { width: 691px; height: 0px; }
	#imGroup_38 { width: 691px; height: 0px; }
	#imGroup_39 { width: 691px; height: 0px; }
	#imGroup_40 { width: 691px; height: 0px; }
	#imGroup_41 { width: 691px; height: 0px; }
	
}
@media  (max-width: 719px) and (min-width: 430px) {
	#imGroup_1 { width: 400px; clear: left; }
	#imGroup_2 { width: 400px; clear: left; }
	#imGroup_3 { width: 400px; height: 0px; clear: left; }
	#imCell_14 { display: none; clear: left; }
	#imCell_14 { width: -2px; min-height: -6px;  padding-top: 3px; padding-bottom: 3px; padding-left: 1px; padding-right: 1px; }
	#imCellStyle_14 { width: -2px; min-height: -6px; padding: 3px 3px -9px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_14 { left: 1px; right: 1px; }
	#imTextObject_14 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imGroup_4 { width: 400px; height: 0px; clear: left; }
	#imGroup_5 { width: 400px; clear: left; }
	#imGroup_6 { width: 400px; clear: left; }
	#imGroup_7 { width: 400px; height: 0px; clear: left; }
	#imGroup_8 { width: 400px; height: 0px; clear: left; }
	#imGroup_9 { width: 400px; height: 0px; clear: left; }
	#imCell_19 { clear: left; }
	#imCell_19 { width: 396px; min-height: 131px;  padding-top: 3px; padding-bottom: 3px; padding-left: 2px; padding-right: 2px; }
	#imCellStyle_19 { width: 396px; min-height: 131px; padding: 3px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleGraphics_19 { left: 2px; right: 2px; }
	#imTextObject_19 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imTextObject_19 .text-container { height: 125px;}
	#imGroup_10 { width: 400px; clear: left; }
	#imGroup_11 { width: 400px; height: 0px; clear: left; }
	#imGroup_12 { width: 400px; height: 0px; clear: left; }
	#imGroup_13 { width: 400px; height: 0px; clear: left; }
	#imGroup_14 { width: 400px; clear: left; }
	#imCell_1 { clear: left; }
	#imCell_1 { width: 394px; min-height: 318px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_1 { width: 394px; min-height: 318px; padding: 42px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleTitle_1 { top: 8px; left: 8px; right: 8px; }
	#imCellStyleGraphics_1 { left: 3px; right: 3px; }
	#imGroup_15 { width: 400px; clear: left; }
	#imGroup_16 { width: 400px; height: 0px; clear: left; }
	#imGroup_17 { width: 400px; height: 0px; clear: left; }
	#imGroup_18 { width: 400px; height: 0px; clear: left; }
	#imCell_2 { clear: left; }
	#imCell_2 { width: 394px; min-height: 306px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_2 { width: 394px; min-height: 306px; padding: 42px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleTitle_2 { top: 8px; left: 8px; right: 8px; }
	#imCellStyleGraphics_2 { left: 3px; right: 3px; }
	#imGroup_19 { width: 400px; clear: left; }
	#imGroup_20 { width: 400px; height: 0px; clear: left; }
	#imGroup_21 { width: 400px; height: 0px; clear: left; }
	#imGroup_22 { width: 400px; height: 0px; clear: left; }
	#imGroup_23 { width: 400px; clear: left; }
	#imCell_16 { clear: left; }
	#imCell_16 { width: 394px; min-height: 318px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_16 { width: 394px; min-height: 318px; padding: 42px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleTitle_16 { top: 8px; left: 8px; right: 8px; }
	#imCellStyleGraphics_16 { left: 3px; right: 3px; }
	#imGroup_24 { width: 400px; clear: left; }
	#imGroup_25 { width: 400px; height: 0px; clear: left; }
	#imGroup_26 { width: 400px; height: 0px; clear: left; }
	#imGroup_27 { width: 400px; height: 0px; clear: left; }
	#imCell_15 { clear: left; }
	#imCell_15 { width: 394px; min-height: 318px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_15 { width: 394px; min-height: 318px; padding: 42px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleTitle_15 { top: 8px; left: 8px; right: 8px; }
	#imCellStyleGraphics_15 { left: 3px; right: 3px; }
	#imGroup_28 { width: 400px; clear: left; }
	#imGroup_29 { width: 400px; height: 0px; clear: left; }
	#imCell_13 { clear: left; }
	#imCell_13 { width: 394px; min-height: -6px; }
	#imTableObject_13 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imGroup_30 { width: 400px; height: 0px; clear: left; }
	#imGroup_31 { width: 400px; clear: left; }
	#imCell_17 { clear: left; }
	#imCell_17 { width: 394px; min-height: 318px;  padding-top: 3px; padding-bottom: 3px; padding-left: 3px; padding-right: 3px; }
	#imCellStyle_17 { width: 394px; min-height: 318px; padding: 42px 3px 3px 3px; border-top: 0; border-bottom: 0; border-left: 0; border-right: 0; }
	#imCellStyleTitle_17 { top: 8px; left: 8px; right: 8px; }
	#imCellStyleGraphics_17 { left: 3px; right: 3px; }
	#imGroup_32 { width: 400px; clear: left; }
	#imGroup_33 { width: 400px; height: 0px; clear: left; }
	#imGroup_34 { width: 400px; height: 0px; clear: left; }
	#imGroup_35 { width: 400px; height: 0px; clear: left; }
	#imCell_18 { clear: left; }
	#imCell_18 { width: 394px; min-height: 6px; }
	#imGroup_36 { width: 400px; height: 0px; clear: left; }
	#imGroup_37 { width: 400px; height: 0px; clear: left; }
	#imGroup_38 { width: 400px; height: 0px; clear: left; }
	#imGroup_39 { width: 400px; height: 0px; clear: left; }
	#imGroup_40 { width: 400px; height: 0px; clear: left; }
	#imGroup_41 { width: 400px; height: 0px; clear: left; }
	
}
@media  (max-width: 429px) {
	#imGroup_1 { width: 100%; clear: left; }
	#imGroup_2 { display: none; clear: left; }
	#imGroup_3 { display: none; clear: left; }
	#imCell_14 { display: none; clear: left; }
	#imCell_14 { width: 100%; min-height: 12px;  padding-top: 3px; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_14 { width: 100%; min-height: 0px; padding: 3px 3px 3px 3px; }
	#imCellStyleGraphics_14 { top: 3px; bottom: 3px; left: 5px; right: 5px; }
	#imTextObject_14 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imGroup_4 { display: none; clear: left; }
	#imGroup_5 { width: 100%; clear: left; }
	#imGroup_6 { display: none; clear: left; }
	#imGroup_7 { display: none; clear: left; }
	#imGroup_8 { display: none; clear: left; }
	#imGroup_9 { display: none; clear: left; }
	#imCell_19 { clear: left; }
	#imCell_19 { width: 100%; min-height: 12px;  padding-top: 3px; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_19 { width: 100%; min-height: 0px; padding: 3px 3px 3px 3px; }
	#imCellStyleGraphics_19 { top: 3px; bottom: 3px; left: 5px; right: 5px; }
	#imTextObject_19 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imGroup_10 { display: none; clear: left; }
	#imGroup_11 { display: none; clear: left; }
	#imGroup_12 { display: none; clear: left; }
	#imGroup_13 { display: none; clear: left; }
	#imGroup_14 { width: 100%; clear: left; }
	#imCell_1 { clear: left; }
	#imCell_1 { width: 100%; min-height: 12px;  padding-top: 3px; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_1 { width: 100%; min-height: 0px; padding: 3px 3px 3px 3px; }
	#imCellStyleTitle_1 { position: relative; width 100%; }
	#imCellStyleGraphics_1 { top: 3px; bottom: 3px; left: 5px; right: 5px; }
	#imGroup_15 { display: none; clear: left; }
	#imGroup_16 { display: none; clear: left; }
	#imGroup_17 { display: none; clear: left; }
	#imGroup_18 { display: none; clear: left; }
	#imCell_2 { clear: left; }
	#imCell_2 { width: 100%; min-height: 12px;  padding-top: 3px; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_2 { width: 100%; min-height: 0px; padding: 3px 3px 3px 3px; }
	#imCellStyleTitle_2 { position: relative; width 100%; }
	#imCellStyleGraphics_2 { top: 3px; bottom: 3px; left: 5px; right: 5px; }
	#imGroup_19 { display: none; clear: left; }
	#imGroup_20 { display: none; clear: left; }
	#imGroup_21 { display: none; clear: left; }
	#imGroup_22 { display: none; clear: left; }
	#imGroup_23 { width: 100%; clear: left; }
	#imCell_16 { clear: left; }
	#imCell_16 { width: 100%; min-height: 12px;  padding-top: 3px; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_16 { width: 100%; min-height: 0px; padding: 3px 3px 3px 3px; }
	#imCellStyleTitle_16 { position: relative; width 100%; }
	#imCellStyleGraphics_16 { top: 3px; bottom: 3px; left: 5px; right: 5px; }
	#imGroup_24 { display: none; clear: left; }
	#imGroup_25 { display: none; clear: left; }
	#imGroup_26 { display: none; clear: left; }
	#imGroup_27 { display: none; clear: left; }
	#imCell_15 { clear: left; }
	#imCell_15 { width: 100%; min-height: 12px;  padding-top: 3px; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_15 { width: 100%; min-height: 0px; padding: 3px 3px 3px 3px; }
	#imCellStyleTitle_15 { position: relative; width 100%; }
	#imCellStyleGraphics_15 { top: 3px; bottom: 3px; left: 5px; right: 5px; }
	#imGroup_28 { width: 100%; clear: left; }
	#imGroup_29 { display: none; clear: left; }
	#imCell_13 { clear: left; }
	#imCell_13 { width: 100%; min-height: 6px; }
	#imTableObject_13 .text-container {border-style: solid; border-color: #A9A9A9; border-width: 0 1px 1px 1px;width: 100%; box-sizing: border-box;}
	#imGroup_30 { display: none; clear: left; }
	#imGroup_31 { width: 100%; clear: left; }
	#imCell_17 { clear: left; }
	#imCell_17 { width: 100%; min-height: 12px;  padding-top: 3px; padding-bottom: 3px; padding-left: 5px; padding-right: 5px; box-sizing: border-box; }
	#imCellStyle_17 { width: 100%; min-height: 0px; padding: 3px 3px 3px 3px; }
	#imCellStyleTitle_17 { position: relative; width 100%; }
	#imCellStyleGraphics_17 { top: 3px; bottom: 3px; left: 5px; right: 5px; }
	#imGroup_32 { display: none; clear: left; }
	#imGroup_33 { display: none; clear: left; }
	#imGroup_34 { display: none; clear: left; }
	#imGroup_35 { display: none; clear: left; }
	#imCell_18 { clear: left; }
	#imCell_18 { width: 100%; min-height: 6px; }
	#imGroup_36 { display: none; clear: left; }
	#imGroup_37 { display: none; clear: left; }
	#imGroup_38 { display: none; clear: left; }
	#imGroup_39 { display: none; clear: left; }
	#imGroup_40 { display: none; clear: left; }
	#imGroup_41 { display: none; clear: left; }
	
}
